.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: var(--white);
    font-weight: bold;
    width: 35%;
    margin-top: 5px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 3px solid white;
}

.writeup{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
}
.posts{
    padding: 0 3rem 0 3rem;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 4rem;
    box-sizing: border-box;
}
.cards::before{
    content: "";
display: flex;
align-items: center;
justify-content: center;
    width:100%;
    position: absolute;
    height: 400px;
    background:rgba(127, 15, 179, 0.459);
    border-radius: 50%;
    filter: blur(300px);
}
.cards{
    position: relative;
    margin: 20px;
}
.card:hover{
    transform: scale(1.2);
}
.cards>*{
    position: absolute;
}
.post-blur::before{
  content: " ";
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 20px;
    position: absolute;
    height: 400px;
    background:radial-gradient(rgb(200, 2, 255),rgb(209, 184, 206));
    filter: blur(200px);
}
/* new css */
.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    /* scroll view */
    padding-top: 3rem;
  }
  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
  }
  
  .awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: var(--white);
    font-size: 22px;
    margin-top: 1rem;
  }
  .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  /* right sided */
  .cards {
    position: relative;
  }
  .cards > * {
    position: absolute;
  }
  
  /* blur */
 
  
  @media screen and (max-width: 480px) {
    .posts {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .cards > * {
      position: static;
    }
  }