.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}
.contact-form::before {
    content: "";
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: absolute;
    height: 400px;
    background: rgba(127, 15, 179, 0.459);
    border-radius: 50%;
    filter: blur(200px);
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}
.blurry{
    content: "";
    border-radius: 50%;
    position: relative;
    filter: blur(212px);
    background: radial-gradient(rgb(140 45 195 / 39%), transparent);
}


div.Heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: var(--white);
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
    display: block;
    font-size: 3rem;
    text-align: center;
    border-bottom: 3px solid white;
    padding: 5px;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.user{
    border: 4px solid purple !important;
    
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

}   