
.cursor{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(149, 44, 205, 0.377);
  filter: blur(1);
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  background-image: url('https://creazilla-store.fra1.digitaloceanspaces.com/emojis/58648/blue-heart-emoji-clipart-md.png');

}